@model Taijitan_Yoshin_Ryu_vzw.Models.LesmateriaalViewModels.LesmateriaalViewModel

@{
    ViewData["Title"] = "Lesmateriaal";
}
@section AddCss {
        <link rel="stylesheet" href="~/css/lesmateriaal.css" asp-append-version="true" />
    }
@section Scripts {
        <script src="~/js/lesmateriaal.js"></script>
}
        <div class="lesmateriaalContent-wrapper">
            <div class="kyu-nav col-lg-2">
                <ul>
                    @{
                        foreach (var kyu in Model.Graden)
                        {
                            if (kyu.GraadId > Model.HuidigLid.Graad.GraadId)
                            {
                                <li class="kyu-locked" id="@kyu.GraadId"><div class="kyu-kleur" style="background-color:"></div><span>@kyu.GraadNaam</span><i class="fas fa-lock"></i></li>
                            }
                            else
                            {
                                if (kyu.GraadId == Model.HuidigLid.Graad.GraadId)
                                {
                                    <li id="@kyu.GraadId" class="geselecteerdeKyu"><div class="kyu-kleur" style="background-color:"></div><span>@kyu.GraadNaam</span></li>
                                }
                                else
                                {
                                    <li id="@kyu.GraadId"><div class="kyu-kleur" style="background-color:"></div><span>@kyu.GraadNaam</span></li>
                                }
                            }
                        }
                    }
                </ul>
            </div>
            <div class="col-lg-2" id="thema-nav">
                
            </div>
            <div class="lesmateriaal-wrapper col-lg-10">
                <div id="lesmateriaalHead">

                </div>
                <div id="lesmateriaal">

                </div>
            </div>
        </div>
        <script>
            $('document').ready(() => {
                $.ajax({
                    type: "POST",
                    url: "/Lesmateriaal/ThemaView",
                    data: { GraadId: @Model.HuidigLid.Graad.GraadId
                    },
                    success: (r) => {
                        $('#thema-nav').html(r);
                    },
                    complete: () => {
                        $.ajax({
                            type: "POST",
                            url: "/Lesmateriaal/LesmateriaalViewHead",
                            data: {
                                GraadId: $('.geselecteerdeKyu').get(0).id,
                                ThemaNaam: $('.geselecteerdThema').get(0).innerHTML
                            },
                            success: (r) => {
                                $('#lesmateriaalHead').html(r);
                            }
                        });
                    }                
                });


                
            });
        </script>
   