@*@model IEnumerable<Taijitan_Yoshin_Ryu_vzw.Models.Domain.Lid>
@{
    ViewData["Title"] = "Index";
}

<h1>Gegevens van @TempData["Lid"]</h1>

<table>
    <tr>
        <th>Voornaam</th>
        <th>Naam</th>
        <th>Geboorte datum</th>
        <th>Straat</th>
        <th>Huis nummer</th>
        <th>Gemeente</th>
        <th>Postcode</th>
        <th>Telefoon nummer</th>
        <th>Email adres</th>
        <th></th>
    </tr>

    @foreach(var item in Model) {
        <tr>
            <td>@item.Voornaam</td>
            <td>@item.Naam</td>
            <td>@item.GeboorteDatum</td>
            <td>@item.Straat</td>
            <td>@item.HuisNummer</td>
            <td>@item.Gemeente</td>
            <td>@item.Postcode</td>
            <td>@item.TelefoonNummer</td>
            <td>@item.Email</td>
            <td>
                <a asp-controller="Lid" asp-action="Edit" asp-route-id="@item.Email">Edit</a>
            </td>
            <td></td>
            <td></td>
        </tr>
    }

</table>*@

