@model List<Taijitan_Yoshin_Ryu_vzw.Models.Domain.Lid>

@{
    ViewData["Title"] = "Sessie";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Sessie</title>
</head>

<body>
   
    <div class="btn-group-vertical">
        @foreach (var item in Model)
        {
            <a type="button" class="btn btn-primary" asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-id="@item.Username">@item.Voornaam @item.Naam</a>
            <button type="button" class="btn btn-primary">@item.Voornaam @item.Naam @item.Formule.FormuleNaam @item.Formule.Id</button>
            <button type="button" class="btn btn-primary">@item.Voornaam @item.Naam @item.Formule.FormuleNaam @item.Formule.Id</button>
            <button type="button" class="btn btn-primary">@item.Voornaam @item.Naam @item.Formule.FormuleNaam @item.Formule.Id</button>
            <button type="button" class="btn btn-primary">@item.Voornaam @item.Naam @item.Formule.FormuleNaam @item.Formule.Id</button>
            @foreach (var td in item.Formule.FormuleTrainingsdagen) { <a>@td.Trainingsdag.DagNaam</a> }
        }
    </div>
</body>
</html>
