@model Taijitan_Yoshin_Ryu_vzw.Models.SessieViewModels.SessieViewModel

@{
    ViewData["Title"] = "Sessie";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/sessieStart.css" asp-append-version="true" />
}
<div class="content-wrapper">
    <div class="sessie-wrapper">

        <div class="sessie-content">
            <h3>Aanwezigheden - @Model.Sessie.BeginDatumEnTijd.ToString("dd/MM/yyyy HH:mm")</h3>

            <ul class="ledenlijst">
                @foreach (var item in Model.Leden)
                {

                    if (Model.AanwezigeLeden.Contains(item))
                    {
                        <li class="ledenlijstLid aanwezig">
                            <a asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-username="@item.Username">@item.Voornaam @item.Naam</a>
                        </li>
                    }
                    else
                    {
                        <li class="ledenlijstLid">
                            <a asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-username="@item.Username">@item.Voornaam @item.Naam</a>
                        </li>
                    }
                }
            </ul>
            <div class="buttonPanel">
                <button data-toggle="modal" data-target="#CancelModal">Cancel</button>
                <form class="form-horizontal">
                    <button asp-controller="Sessie" asp-action="RegistreerAanwezigheidNietInLijst">Lid toevoegen</button>
                </form>
                <form>
                    <button asp-controller="Gebruiker">Bevestigen</button>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">                
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">Voer het wachtwoord in van @User.Identity.Name om de sessie te annuleren.</h4>
            </div>
            <div class="modal-body">
                <form autocomplete="off" >
                    <div class="form-group">
                        <label asp-for="Wachtwoord"></label>
                        <input asp-for="Wachtwoord" class="form-control" type="password" placeholder="Wachtwoord" required/>
                        <span asp-validation-for="Wachtwoord" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button asp-controller="Sessie" asp-action="Cancel">Annuleer sessie</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<script>
    var leden = document.getElementsByClassName("ledenlijstLid");

    for (var i = 0; i < leden.length; i++) {
        leden[i].addEventListener('click', (e) => {
            if (e.target.classList.contains('aanwezig')) {
                e.target.classList.remove('aanwezig');
            } else
                e.target.classList.add('aanwezig');
        });
    }
</script>
@*

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning">@TempData["error"]</div>
    }
    <div class="btn-group-vertical">
        @foreach (var item in Model)
        {
            <a class="btn btn-primary" asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-username="@item.Username">@item.Voornaam @item.Naam</a>
        }
    </div>*@