@model Taijitan_Yoshin_Ryu_vzw.Models.SessieViewModels.SessieViewModel

@{
    ViewData["Title"] = "Sessie";
}
@section AddCss {
    <link rel="stylesheet" href="~/css/sessieStart.css" asp-append-version="true" />
}
<div class="content-wrapper">
    <div class="sessie-wrapper">
        <div class="sessie-content">
            @if (TempData["error"] != null)
            {
                <div class="alert alert-error">@TempData["error"]</div>
            }
            <h3>Aanwezigheden - @Model.Sessie.BeginDatumEnTijd.ToString("dd/MM/yyyy HH:mm")</h3>

            <ul class="ledenlijst">
                @foreach (var item in Model.Leden)
                {
                    <li class="ledenlijstLid" id="@item.Username">
                        @item.Voornaam @item.Naam - @item.Username
                    </li>
                }
                @if (Model.ExtraAanwezigen.Count > 0)
                {
                    <li><h5>Extra aanwezigheden</h5></li>
                    foreach (var item in Model.ExtraAanwezigen)
                    {
                        <li class="ledenlijstLid aanwezig" id="@item.Username">
                            @item.Voornaam @item.Naam - @item.Username
                        </li>
                    }
                }
            </ul>
            <div class="buttonPanel">
                <button data-toggle="modal" data-target="#CancelModal">Cancel</button>
                <button data-toggle="modal" data-target="#NietInLijstModal">Lid toevoegen</button>
                <button id="aanwezighedenBevestigen">Bevestigen</button>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="CancelModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">Voer het wachtwoord in van @User.Identity.Name om de sessie te annuleren.</h4>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group">
                        <label asp-for="Wachtwoord"></label>
                        <input asp-for="Wachtwoord" class="form-control" type="password" placeholder="Wachtwoord" required />
                        <span asp-validation-for="Wachtwoord" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <button asp-controller="Sessie" asp-action="CancelAsync">Annuleer sessie</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
<div class="modal fade" id="NietInLijstModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title" id="exampleModalLongTitle">Is dit de eerste keer dat je les volgt?</h4>
            </div>
            <div class="modal-body">
                <div class="buttonPanel">
                    <form>
                        <button asp-controller="Sessie" asp-action="RegistreerAanwezigGast">Eerste keer</button>
                    </form>
                    <form>
                        <button asp-controller="Sessie" asp-action="RegistreerAanwezigNietInLijst">Ik ben geregistreerd</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<script>

    

    

    $('document').ready(() => {

        var aanwezigen = [];

        $('.ledenlijstLid').click((e) => {
            if (e.target.classList.contains('aanwezig')) {
                e.target.classList.remove('aanwezig');
                aanwezigen = jQuery.grep(aanwezigen, (a) => {
                    return a != e.target.id;
                });
            } else {
                e.target.classList.add('aanwezig');
                aanwezigen.push(e.target.id);
            }
            console.log(aanwezigen);

        });

        $('#aanwezighedenBevestigen').click(() => {

            console.log(JSON.stringify(aanwezigen));
            $.ajax({
                type: "POST",
                url: "/Sessie/AanwezigenToevoegen",
                data: {aanwezigen: JSON.stringify(aanwezigen)},
                success: () => {
                    console.log('finished');
                }
            });
        });

    });

    window.setTimeout(function () {
        $(".alert").fadeTo(500, 0).slideUp(500, function () {
            $(this).remove();
        });
    }, 4000);
</script>
@*

    @if (TempData["message"] != null)
    {
        <div class="alert alert-success">@TempData["message"]</div>
    }
    @if (TempData["error"] != null)
    {
        <div class="alert alert-warning">@TempData["error"]</div>
    }
    <div class="btn-group-vertical">
        @foreach (var item in Model)
        {
            <a class="btn btn-primary" asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-username="@item.Username">@item.Voornaam @item.Naam</a>
        }
    </div>*@