@model Taijitan_Yoshin_Ryu_vzw.Models.SessieViewModels.SessieViewModel

@{
    ViewData["Title"] = "Sessie";
}

<div class="content-wrapper">
    <div class="sessie-wrapper">
        
        <div class="sessie-content">
            <h3>Aanwezigheden - @Model.Sessie.BeginDatumEnTijd.ToString("dd/MM/yyyy HH:mm")</h3>

            <ul class="ledenlijst">
                @foreach (var item in Model.Leden)
                {
                    <li class="ledenlijstLid"@*onclick="@{Model.AanwezigeLeden.Add(item);}"*@>@item.Voornaam @item.Naam</li>                    
                }
            </ul>
            <div class="buttonPanel">                
                <form><button asp-controller="Gebruiker" asp-action="Index">Cancel</button></form>
                <form><button>Lid toevoegen</button></form>
                <form><button id="bevestigAanwezigheden" asp-action="RegistreerAanwezigheid" asp-route-leden="@Model.AanwezigeLeden">Bevestigen</button></form>
                
            </div>
        </div>


    </div>
</div>
<script src="~/js/sessieStarten.js"/>
@*

@if (TempData["message"] != null)
{
    <div class="alert alert-success">@TempData["message"]</div>
}
@if (TempData["error"] != null)
{
    <div class="alert alert-warning">@TempData["error"]</div>
}
<div class="btn-group-vertical">
    @foreach (var item in Model)
    {
        <a class="btn btn-primary" asp-controller="Sessie" asp-action="RegistreerAanwezigheid" asp-route-username="@item.Username">@item.Voornaam @item.Naam</a>
    }
</div>*@